:root{
    --bg-button: #EFEFEF;
    --border-button: #2D2F31;
}


.button {
    background-color: var(--bg-button);
    margin: 1px;
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
}

.button:active {
    background-color: #ccc;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: darkgoldenrod;
    color: var(--bg-button);
}

.button.operation:active {
    background-color: rgba(139, 102, 8, 0.96);
}