.display {
    grid-column: span 4;
    grid-row: 1;
    background-color: rgba(45, 47, 49, 0.7);

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 2.1em;
    overflow: hidden;
}